In [2]:
import pandas as pd
from sqlalchemy import create_engine, text, create_engine

DB_USERNAME = 'postgres'
DB_PASSWORD = '0828'

#engine=create_engine(f'postgresql+psycopg2://{DB_USERNAME}:{DB_PASSWORD}@localhost/prueba', max_overflow=20)
engine=create_engine(f'postgresql://{DB_USERNAME}:{DB_PASSWORD}@localhost/subscriptions', max_overflow=20)
result = engine.connect().execute(text("SELECT 'Hello world';"))

print(result.first()[0])

Hello world

In [3]:
df = pd.read_csv('subscriptions.csv',sep=';')
df.head(2)

   id subscription_start subscription_end
0   1         2017-03-18              NaN
1   2         2017-03-05              NaN

In [4]:
%load_ext sql

In [5]:
%sql postgresql://postgres:0828@localhost/subscriptions

In [6]:
#df.to_sql('subscriptions2', engine)

1000

In [7]:
%%sql
SELECT 1.0 * 
(
  SELECT COUNT(*)
  FROM subscriptions
  WHERE subscription_start < '2017-01-01'
  AND (
    subscription_end
    BETWEEN '2017-01-01'
    AND '2017-01-31'
  )
) / (
  SELECT COUNT(*) 
  FROM subscriptions 
  WHERE subscription_start < '2017-01-01'
  AND (
    (subscription_end >= '2017-01-01')
    OR (subscription_end IS NULL)
  )
) 
AS result;

 * postgresql://postgres:***@localhost/subscriptions
1 rows affected.

[(Decimal('0.12635379061371841155'),)]

In [8]:
sql_query = pd.read_sql_query('''
WITH enrollments AS
(SELECT *
FROM subscriptions
WHERE subscription_start < '2017-01-01'
AND (
  (subscription_end >= '2017-01-01')
  OR (subscription_end IS NULL)
))
SELECT * FROM enrollments;''',engine)
df_enrollments = pd.DataFrame(sql_query, columns = ['id', 'subscription_start', 'subscription_end'])
#df_enrollments.to_csv('enrollment.csv', sep=';',index=False)

In [9]:
sql_query = pd.read_sql_query('''
WITH enrollments AS
(SELECT *
FROM subscriptions
WHERE subscription_start < '2017-01-01'
AND (
  (subscription_end >= '2017-01-01')
  OR (subscription_end IS NULL)
)),
status AS 
(SELECT
CASE
  WHEN (subscription_end > '2017-01-31')
    OR (subscription_end IS NULL) THEN 0
    ELSE 1
  END as is_canceled,
  CASE
    WHEN subscription_start < '2017-01-01'
      AND (
        (subscription_end >= '2017-01-01')
        OR (subscription_end IS NULL)
      ) THEN 1
    ELSE 0
  END as is_active
  FROM enrollments
  )
SELECT * FROM status;''',engine)
df_status = pd.DataFrame(sql_query, columns = ['is_canceled', 'is_active'])
#df_enrollments.join(df_status).to_csv('status.csv', sep=';',index=False)
df_churn_calc = df_enrollments.join(df_status).copy()
df_churn_calc.head(5)
print(df_churn_calc['is_canceled'].sum()/df_churn_calc['is_active'].sum())

0.1263537906137184

In [10]:
%%sql
WITH enrollments AS
(SELECT *
FROM subscriptions
WHERE subscription_start < '2017-01-01'
AND (
  (subscription_end >= '2017-01-01')
  OR (subscription_end IS NULL)
)),
status AS 
(SELECT
CASE
  WHEN (subscription_end > '2017-01-31')
    OR (subscription_end IS NULL) THEN 0
    ELSE 1
  END as is_canceled,
  CASE
    WHEN subscription_start < '2017-01-01'
      AND (
        (subscription_end >= '2017-01-01')
        OR (subscription_end IS NULL)
      ) THEN 1
    ELSE 0
  END as is_active
  FROM enrollments
  )
  SELECT 1.0 * SUM(is_canceled) / SUM(is_active)
FROM status;

 * postgresql://postgres:***@localhost/subscriptions
1 rows affected.

[(Decimal('0.12635379061371841155'),)]

In [19]:
%%sql
WITH months AS
(SELECT
  '2017-01-01' as first_day,
  '2017-01-31' as last_day
UNION
SELECT
  '2017-02-01' as first_day,
  '2017-02-28' as last_day
UNION
SELECT
  '2017-03-01' as first_day,
  '2017-03-31' as last_day
),
cross_join AS
(SELECT *
FROM subscriptions
CROSS JOIN months),
status AS
(SELECT id, first_day as month,
CASE
  WHEN (subscription_start < first_day)
    AND (
      subscription_end > first_day
      OR subscription_end IS NULL
    ) THEN 1
  ELSE 0
END as is_active,
CASE 
  WHEN subscription_end BETWEEN first_day AND last_day THEN 1
  ELSE 0
END as is_canceled
FROM cross_join),
status_aggregate AS
(SELECT
  month,
  SUM(is_active) as active,
  SUM(is_canceled) as canceled
FROM status
GROUP BY month)
SELECT month, 1.0*canceled/active as churn_rate
FROM status_aggregate;

 * postgresql://postgres:***@localhost/subscriptions
3 rows affected.

[('2017-03-01', Decimal('0.23688155922038980510')),
 ('2017-02-01', Decimal('0.12450592885375494071')),
 ('2017-01-01', Decimal('0.12681159420289855072'))]